@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
*{
  font-family: 'Comfortaa', cursive;
}
h1{
  font-size: 2em;
}
label{
  text-align: center;
}
.visualizar{
  display: inline-block;
  width: 70%; height: auto;
  float: left;
  text-align: center;
  padding: 70px 0px 0px 0px;

}
.botones{
  margin-top:10%;
  display: inline-block; width: 20%;
  height: auto;
  text-align: center;
  padding: 30px 0px 0px 0px;
}
body{
  background-image: url("./IMG/Fondo.png");
  background-color: #0410F1;
}
